/* ===== Nav ===== */
nav {
   display: flex;
   justify-content: space-between;
}

.links:hover {
   color:red;
}

/* ===== Tickets ===== */
.tickets{
   display: grid;
   grid-template-columns: 50% 50%;
   grid-gap: 1em;
}

.flex{
   display: flex;
}

span{
   color: dodgerblue;
   font-weight: bold;
}

/* ===== Footer ===== */
footer{
   text-align: center;
   position: relative;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

p{
   margin-bottom: 3px;
}

.icons{
   width: 35px;
}
